<section class="section about-section" id="about">
  <div class="container about-container">
    <h2 class="section-title about-title">About</h2>
    <div class="about-content-wrapper">
      <picture>
        <source
          srcset="./img/about/about-img-desk.png"
          media="(min-width: 1440px)"
          width="522"
          height="332" />
        <source
          srcset="./img/about/about-img-mob.png"
          width="328"
          height="290" />
        <img
          class="about-img"
          src="./img/about/about-img-mob.png"
          alt="Screenshot of the game"
          width="328"
          height="290"
          loading="lazy"
      /></picture>
      <p class="about-text">
        <span class="about-text-span">BMX Boy</span> is a side-scrolling arcade
        game focused on bike control and trick execution. You're basically
        riding through these levels, hitting jumps, trying not to wipe out on
        obstacles - you know, the usual.<br />
        You gotta nail this perfect mix of going fast, being precise, and
        getting the rhythm just right.
      </p>
      <img
        class="about-stars-img"
        src="./img/context/context-img-mob.png"
        alt="Screenshot of the game"
        width="148"
        height="123"
        loading="lazy"
      />
    </div>
  </div>
</section>
