<section class="section gameplay-section" id="gameplay">
  <div class="container gameplay-container">
    <h2 class="section-title gameplay-title">How to Play</h2>
    <div class="gameplay-content-wrapper">
      <picture>
        <source
          srcset="./img/gameplay/gameplay-img-desk.png"
          media="(min-width: 1440px)"
          width="935"
          height="638" />
        <source
          srcset="./img/gameplay/gameplay-img-mob.png"
          width="375"
          height="256" />
        <img
          class="gameplay-img"
          src="./img/gameplay/gameplay-img-mob.png"
          alt="Screenshot of the game"
          width="375"
          height="256"
          loading="lazy"
      /></picture>
      <p class="gameplay-text gameplay-first-text">
        Tap to jump and control airtime
      </p>
      <p class="gameplay-text gameplay-second-text">
        Avoid crashes and obstacles
      </p>
      <p class="gameplay-text gameplay-third-text">
        Balance the bike during landings
      </p>
      <p class="gameplay-text gameplay-fourth-text">
        Work your way through levels that get trickier as you go
      </p>
      <p class="gameplay-text gameplay-fifth-text">
        You'll pick it up quick, but getting really good at it? That's the fun
        part.
      </p>
      <img
        class="gameplay-right-stars-img"
        src="./img/context/context-img-mob.png"
        alt="Screenshot of the game"
        width="148"
        height="123"
        loading="lazy"
      />
      <img
        class="gameplay-left-stars-img"
        src="./img/gameplay/gameplay-stars-desk.png"
        alt="Screenshot of the game"
        width="240"
        height="221"
        loading="lazy"
      />
    </div>
  </div>
</section>
