<section class="section uniqueness-section" id="uniqueness">
  <div class="container uniqueness-container">
    <h2 class="section-title rooms-title">Uniqueness</h2>
    <div class="uniqueness-content-wrapper">
      <picture>
        <source
          srcset="./img/uniqueness/uniqueness-img-desk.png"
          media="(min-width: 1440px)"
          width="460"
          height="495" />
        <source
          srcset="./img/uniqueness/uniqueness-img-mob.png"
          width="335"
          height="360" />
        <img
          class="uniqueness-img"
          src="./img/uniqueness/uniqueness-img-mob.png"
          alt="Screenshot of the game"
          width="335"
          height="360"
          loading="lazy"
      /></picture>
      <ul class="uniqueness-list">
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">
            We didn't want to make another complicated racing game - this one's
            all about keeping things simple and fun.
          </p>
        </li>
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">Minimal interface distractions</p>
        </li>
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">Clean level design</p>
        </li>
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">
            Whether you win or lose is totally on you and your skills
          </p>
        </li>
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">
            You know instantly if you nailed it or totally screwed up
          </p>
        </li>
        <li class="uniqueness-list-item">
          <svg class="check-icon" width="34" height="34">
            <use href="./img/sprite.svg#icon-check"></use>
          </svg>
          <p class="uniqueness-item-text">
            Put in the time and focus, and you'll definitely see the payoff.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
